<h1><%= @movie.title %></h1>
<strong>Release date:</strong> <%= @movie.release_date %>

<% unless Intention.where(:user_id => current_user.id, :movie_id => @movie.id).exists? %>
<h2>Want to see this movie?</h2>
<p><%= link_to "Add Movie", movie_intentions_path(:user_id => current_user.id, :movie_id => @movie.id), method:"POST" %></p>
<% else %>
<p>You already want to see this movie.</p>
<p><%= link_to "Remove Movie", movie_intentions_path(:user_id => current_user.id, :movie_id => @movie.id), method: "DELETE" %>
<% end %>

<h2>Friends</h2>
<% if @users.empty? %>
  <p>No friends to see this movie yet.</p>
<% else %>
  <% @users.each do |user| %>
    <div style="display:block,width:100%">
      <%= image_tag(user.image, class: "user_image") %>
      <%= link_to user.full_name, user_path(user) %>
    </div>
  <% end %>
<% end %>