<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "See It", root_path, class: "navbar-brand" %>
    </div>

      <ul class="nav navbar-nav">
        <li><%= link_to "Movies", movies_path %></li>
        <li><%= link_to "Friends", friends_path %></li>
        <% if current_user %>
          <li><%= link_to "Me", user_path(current_user) %></li>
        <% end %>
      </ul>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <% unless current_user %><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), role: "button" %>
<% else %><%= link_to "Log Out", destroy_user_session_path, method:'DELETE', role: "button" %><% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>